In [ ]:
import sqlite3

con = sqlite3.connect('test.db')
con.close()

In [ ]:
!ls

sample_data  test.db

In [ ]:
import sqlalchemy

sqlalchemy.__version__

'2.0.38'

In [ ]:
from sqlalchemy import create_engine

engine = create_engine("sqlite://", echo=True) # echo: 언제 생성되는지 확인

print(engine)

Engine(sqlite://)

In [ ]:
!ls

sample_data  test.db

In [ ]:
con = engine.connect()

In [ ]:
from sqlalchemy.schema import MetaData, Table, Column

In [ ]:
meta = MetaData()

In [ ]:
from sqlalchemy.types import Integer, Text

In [ ]:
meta.tables

FacadeDict({})

In [ ]:
Table('USER', meta, # meta에 바인딩
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False))

Table('USER', MetaData(), Column('PK', Integer(), table=<USER>, primary_key=True, nullable=False), Column('NAME', Text(), table=<USER>, nullable=False), schema=None)

In [ ]:
userObj = meta.tables['USER']
userObj.select()

In [ ]:
meta.create_all(engine)

2025-03-06 02:28:25,535 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-03-06 02:28:25,537 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("USER")

2025-03-06 02:28:25,539 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:28:25,541 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("USER")

2025-03-06 02:28:25,543 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:28:25,548 INFO sqlalchemy.engine.Engine
CREATE TABLE "USER" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	PRIMARY KEY ("PK")
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE "USER" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	PRIMARY KEY ("PK")
)

2025-03-06 02:28:25,550 INFO sqlalchemy.engine.Engine [no key 0.00170s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00170s] ()

2025-03-06 02:28:25,552 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
print(userObj.select())
result = con.execute(userObj.select())

SELECT "USER"."PK", "USER"."NAME"
FROM "USER"
2025-03-06 02:28:25,563 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-03-06 02:28:25,565 INFO sqlalchemy.engine.Engine SELECT "USER"."PK", "USER"."NAME"
FROM "USER"

INFO:sqlalchemy.engine.Engine:SELECT "USER"."PK", "USER"."NAME"
FROM "USER"

2025-03-06 02:28:25,567 INFO sqlalchemy.engine.Engine [generated in 0.00383s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00383s] ()

In [ ]:
result.fetchall()

[]

In [ ]:
meta.clear()

In [ ]:
meta.tables

FacadeDict({})

In [ ]:
con.close()

2025-03-06 02:28:25,601 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [ ]:
con = engine.connect()

In [ ]:
meta.tables

FacadeDict({})

In [ ]:
meta.reflect(engine)

2025-03-06 02:28:25,628 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-03-06 02:28:25,630 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2025-03-06 02:28:25,631 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:28:25,633 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_temp_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_temp_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2025-03-06 02:28:25,635 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:28:25,641 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_xinfo("USER")

2025-03-06 02:28:25,643 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:28:25,645 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2025-03-06 02:28:25,646 INFO sqlalchemy.engine.Engine [raw sql] ('USER',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('USER',)

2025-03-06 02:28:25,650 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.foreign_key_list("USER")

2025-03-06 02:28:25,652 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:28:25,653 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.foreign_key_list("USER")

2025-03-06 02:28:25,654 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:28:25,656 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2025-03-06 02:28:25,661 INFO sqlalchemy.engine.Engine [raw sql] ('USER',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('USER',)

2025-03-06 02:28:25,663 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("USER")

2025-03-06 02:28:25,665 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:28:25,666 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("USER")

2025-03-06 02:28:25,667 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:28:25,668 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("USER")

2025-03-06 02:28:25,669 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:28:25,670 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("USER")

2025-03-06 02:28:25,675 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:28:25,677 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("USER")

2025-03-06 02:28:25,678 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:28:25,679 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("USER")

2025-03-06 02:28:25,680 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:28:25,682 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2025-03-06 02:28:25,683 INFO sqlalchemy.engine.Engine [raw sql] ('USER',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('USER',)

2025-03-06 02:28:25,687 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [ ]:
con.execute(meta.tables['USER'].select()).fetchall()

2025-03-06 02:28:25,702 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-03-06 02:28:25,706 INFO sqlalchemy.engine.Engine SELECT "USER"."PK", "USER"."NAME"
FROM "USER"

INFO:sqlalchemy.engine.Engine:SELECT "USER"."PK", "USER"."NAME"
FROM "USER"

2025-03-06 02:28:25,708 INFO sqlalchemy.engine.Engine [generated in 0.00647s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00647s] ()

[]

In [ ]:
Table('INFO', meta,
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False))

Table('INFO', MetaData(), Column('PK', Integer(), table=<INFO>, primary_key=True, nullable=False), Column('NAME', Text(), table=<INFO>, nullable=False), schema=None)

In [ ]:
meta.create_all(engine) # 내일 오류 발생시킬 예정
#    Client                                               Server
#    Python                                               SQLite
#  ORM(Class)
#  Instance -> Meta -> SQL -> engine -> Dialect             반영
#  Class -> Instance -> Meta -> SQL -> engine -> Dialect    반영
#  Meta(Class, Table, Mapper)

2025-03-06 02:28:25,732 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-03-06 02:28:25,739 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("USER")

2025-03-06 02:28:25,740 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:28:25,742 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("INFO")

2025-03-06 02:28:25,743 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:28:25,744 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("INFO")

2025-03-06 02:28:25,745 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:28:25,752 INFO sqlalchemy.engine.Engine
CREATE TABLE "INFO" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	PRIMARY KEY ("PK")
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE "INFO" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	PRIMARY KEY ("PK")
)

2025-03-06 02:28:25,754 INFO sqlalchemy.engine.Engine [no key 0.00158s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00158s] ()

2025-03-06 02:28:25,755 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
meta.create_all(engine, [meta.tables['INFO']])

2025-03-06 02:28:25,764 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-03-06 02:28:25,767 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("INFO")

2025-03-06 02:28:25,768 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:28:25,770 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
from sqlalchemy.sql import select, insert, join

In [ ]:
print(select(), end='\n\n')
print(select(meta.tables['INFO']), end='\n\n')
print(select(meta.tables['INFO']).where(meta.tables['INFO'].c['PK']==1))

SELECT

SELECT "INFO"."PK", "INFO"."NAME"
FROM "INFO"

SELECT "INFO"."PK", "INFO"."NAME"
FROM "INFO"
WHERE "INFO"."PK" = :PK_1

In [ ]:
info1 = select(meta.tables['INFO']).where(meta.tables['INFO'].c['PK']==1)

In [ ]:
con.execute(info1).fetchall()

2025-03-06 02:28:25,837 INFO sqlalchemy.engine.Engine SELECT "INFO"."PK", "INFO"."NAME"
FROM "INFO"
WHERE "INFO"."PK" = ?

INFO:sqlalchemy.engine.Engine:SELECT "INFO"."PK", "INFO"."NAME"
FROM "INFO"
WHERE "INFO"."PK" = ?

2025-03-06 02:28:25,841 INFO sqlalchemy.engine.Engine [generated in 0.00482s] (1,)

INFO:sqlalchemy.engine.Engine:[generated in 0.00482s] (1,)

[]

In [ ]:
user = meta.tables['USER']
info = meta.tables['INFO']

In [ ]:
user.insert().values(PK=1, NAME='1번사람')
print(user.insert().values(PK=1, NAME='1번사람').values())
print(user.insert().values(PK=1, NAME='1번사람').compile().params)
# cur.execute(':key', {'key':'value'})
# 아직 데이터베이스에 반영이 안 된 상태, 엔진에 반영된 상태.

INSERT INTO "USER" ("PK", "NAME") VALUES (:PK, :NAME)
{'PK': 1, 'NAME': '1번사람'}

In [ ]:
con.execute(user.insert().values(PK=1, NAME='1번사람'))
# 이 때 데이터베이스에 반영됨

2025-03-06 02:28:25,891 INFO sqlalchemy.engine.Engine INSERT INTO "USER" ("PK", "NAME") VALUES (?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "USER" ("PK", "NAME") VALUES (?, ?)

2025-03-06 02:28:25,894 INFO sqlalchemy.engine.Engine [generated in 0.00314s] (1, '1번사람')

INFO:sqlalchemy.engine.Engine:[generated in 0.00314s] (1, '1번사람')

In [ ]:
con.commit()

2025-03-06 02:28:25,910 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
con.execute(user.select()).fetchall()
con.execute(select(user)).fetchall()

2025-03-06 02:28:25,924 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-03-06 02:28:25,929 INFO sqlalchemy.engine.Engine SELECT "USER"."PK", "USER"."NAME"
FROM "USER"

INFO:sqlalchemy.engine.Engine:SELECT "USER"."PK", "USER"."NAME"
FROM "USER"

2025-03-06 02:28:25,931 INFO sqlalchemy.engine.Engine [cached since 0.2293s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 0.2293s ago] ()

2025-03-06 02:28:25,937 INFO sqlalchemy.engine.Engine SELECT "USER"."PK", "USER"."NAME"
FROM "USER"

INFO:sqlalchemy.engine.Engine:SELECT "USER"."PK", "USER"."NAME"
FROM "USER"

2025-03-06 02:28:25,939 INFO sqlalchemy.engine.Engine [cached since 0.2378s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 0.2378s ago] ()

[(1, '1번사람')]

In [ ]:
dir(select)

['__annotations__',
 '__builtins__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__getstate__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [ ]:
# ORM 쓰는 이유: SQL 몰라도 됨, Object로 접근해 메모리 상에서 DB와 상관없이 작업할 수 있음, DB와 작업환경을 분리할 수 있음.
#
#          Client           Server
#  ORM    Python   Sqlite   SQLite  -------  Database(FILE)
#.   engine 객체를 생성
#    DBMS 주소 전달 DBAPI://계정@주소:포트/데이터베이스
#                          X   X => sqlite:///FILE 경로    DBMS 접속X (Lazy)
#       Engine
# Connect    Dialect
# 접속유지관리  객체->SQL로 해석
#           engine.connect()
# 기존:             execute   SQL
# 이제: Meta->Table 객체 등록(생성, reflect)
#            [생성] Table 객체를 생성자로 만들어야 함(Params..., Column객체)
#      Meta.tables[table 객체들이 들어있음]
#            SQL 객체들로 호출(select, insert, ...)
#           engine.connect().execute('객체를 전달') -> dialect -> SQL 변환 -> engine.connect() -> [ DBMS -> DB ]<-여기 신경X
#           객체: Table, Column, SQL(select, intsert, update, delete, join, ...)

In [ ]:
meta.clear()

In [ ]:
con.close()

2025-03-06 02:41:07,573 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [ ]:
con = engine.connect()

In [ ]:
meta.reflect(engine) # Table 객체로 DB 스키마 가져오기

2025-03-06 02:41:52,975 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-03-06 02:41:52,977 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2025-03-06 02:41:52,981 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:52,983 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_temp_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_temp_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2025-03-06 02:41:52,985 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:52,989 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_xinfo("INFO")

2025-03-06 02:41:52,991 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:52,994 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_xinfo("USER")

2025-03-06 02:41:52,995 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:52,997 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2025-03-06 02:41:52,999 INFO sqlalchemy.engine.Engine [raw sql] ('INFO',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('INFO',)

2025-03-06 02:41:53,001 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2025-03-06 02:41:53,002 INFO sqlalchemy.engine.Engine [raw sql] ('USER',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('USER',)

2025-03-06 02:41:53,004 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA main.foreign_key_list("INFO")

2025-03-06 02:41:53,005 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:53,007 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.foreign_key_list("INFO")

2025-03-06 02:41:53,008 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:53,009 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2025-03-06 02:41:53,011 INFO sqlalchemy.engine.Engine [raw sql] ('INFO',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('INFO',)

2025-03-06 02:41:53,012 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.foreign_key_list("USER")

2025-03-06 02:41:53,013 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:53,015 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.foreign_key_list("USER")

2025-03-06 02:41:53,016 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:53,019 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2025-03-06 02:41:53,020 INFO sqlalchemy.engine.Engine [raw sql] ('USER',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('USER',)

2025-03-06 02:41:53,021 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("INFO")

2025-03-06 02:41:53,022 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:53,024 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("INFO")

2025-03-06 02:41:53,025 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:53,026 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("INFO")

2025-03-06 02:41:53,027 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:53,029 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("USER")

2025-03-06 02:41:53,030 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:53,032 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("USER")

2025-03-06 02:41:53,033 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:53,034 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("USER")

2025-03-06 02:41:53,035 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:53,037 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("INFO")

2025-03-06 02:41:53,038 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:53,039 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("INFO")

2025-03-06 02:41:53,040 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:53,042 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("INFO")

2025-03-06 02:41:53,043 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:53,044 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2025-03-06 02:41:53,045 INFO sqlalchemy.engine.Engine [raw sql] ('INFO',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('INFO',)

2025-03-06 02:41:53,047 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("USER")

2025-03-06 02:41:53,048 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:53,049 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("USER")

2025-03-06 02:41:53,050 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:53,052 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("USER")

2025-03-06 02:41:53,053 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:41:53,054 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2025-03-06 02:41:53,055 INFO sqlalchemy.engine.Engine [raw sql] ('USER',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('USER',)

2025-03-06 02:41:53,059 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [ ]:
type(meta.tables), meta.tables.keys()

(sqlalchemy.util._collections.FacadeDict, dict_keys(['INFO', 'USER']))

In [ ]:
type(meta.tables['USER'])

sqlalchemy.sql.schema.Table

In [ ]:
meta.tables['USER'].c['PK']

Column('PK', INTEGER(), table=<USER>, primary_key=True, nullable=False)

In [ ]:
print(select())

SELECT

In [ ]:
dir(select())

['__annotations__',
 '__bool__',
 '__class__',
 '__class_getitem__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__orig_bases__',
 '__parameters__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__visit_name__',
 '__weakref__',
 '_add_context_option',
 '_all_selected_columns',
 '_annotate',
 '_annotations',
 '_annotations_cache_key',
 '_assert_no_memoizations',
 '_attributes',
 '_auto_correlate',
 '_cache_key_traversal',
 '_clone',
 '_clone_annotations_traverse_internals',
 '_cloned_set',
 '_compile_options',
 '_compile_state_factory',
 '_compile_state_plugin',
 '_compile_w_cache',
 '_compiler',
 '_compiler_dispatch',
 '_constructor',
 '_copy_internals',
 '_correlate',
 '_correlate_except',
 '_create_raw_select',
 '_de_clone',
 '_deannotate',
 '_distinct',
 '_distinct_on',
 '_effective_plugin_target',
 '_ensure_disambiguated_names',
 '_executable_traverse_internals',
 '_execute_on_connection',
 '_execute_on_scalar',
 '_execution_options',
 '_fetch_clause',
 '_fetch_clause_options',
 '_filter_by_zero',
 '_for_update_arg',
 '_from_obj',
 '_from_objects',
 '_gen_annotations_cache_key',
 '_gen_cache_key',
 '_gen_static_annotations_cache_key',
 '_generate',
 '_generate_cache_attrs',
 '_generate_cache_key',
 '_generate_cache_key_for_object',
 '_generate_columns_plus_names',
 '_generate_compiler_dispatch',
 '_generate_fromclause_column_proxies',
 '_generated_cache_key_traversal',
 '_get_embedded_bindparams',
 '_group_by_clause',
 '_group_by_clauses',
 '_has_ctes_traverse_internals',
 '_has_hints_traverse_internals',
 '_has_prefixes_traverse_internals',
 '_has_row_limiting_clause',
 '_has_suffixes_traverse_internals',
 '_having_criteria',
 '_hierarchy_supports_caching',
 '_hints',
 '_implicit_subquery',
 '_independent_ctes',
 '_independent_ctes_opts',
 '_is_bind_parameter',
 '_is_clause_list',
 '_is_clone_of',
 '_is_column_element',
 '_is_default_generator',
 '_is_from_clause',
 '_is_from_container',
 '_is_has_cache_key',
 '_is_immutable',
 '_is_keyed_column_element',
 '_is_lambda_element',
 '_is_lateral',
 '_is_protocol',
 '_is_returns_rows',
 '_is_select_base',
 '_is_select_container',
 '_is_select_statement',
 '_is_singleton_constant',
 '_is_star',
 '_is_table',
 '_is_text_clause',
 '_is_textual',
 '_iterate_from_elements',
 '_label_style',
 '_limit',
 '_limit_clause',
 '_memoized_keys',
 '_memoized_select_entities',
 '_needs_parens_for_grouping',
 '_negate',
 '_negate_in_binary',
 '_offset',
 '_offset_clause',
 '_offset_or_limit_clause',
 '_offset_or_limit_clause_asint',
 '_order_by_clause',
 '_order_by_clauses',
 '_order_by_label_element',
 '_original_compiler_dispatch',
 '_prefixes',
 '_propagate_attrs',
 '_raw_columns',
 '_refresh_for_new_column',
 '_replace_params',
 '_reset_memoizations',
 '_role_name',
 '_scalar_type',
 '_set_compile_options',
 '_set_entities',
 '_set_memoized_attribute',
 '_set_propagate_attrs',
 '_setup_joins',
 '_simple_int_clause',
 '_statement_hints',
 '_suffixes',
 '_traverse_internals',
 '_ungroup',
 '_update_compile_options',
 '_where_criteria',
 '_whereclause',
 '_with_annotations',
 '_with_binary_element_type',
 '_with_context_options',
 '_with_hint',
 '_with_options',
 'add_columns',
 'add_cte',
 'alias',
 'allows_lambda',
 'as_scalar',
 'c',
 'column',
 'column_descriptions',
 'columns',
 'columns_clause_froms',
 'compare',
 'compile',
 'correlate',
 'correlate_except',
 'corresponding_column',
 'cte',
 'description',
 'distinct',
 'entity_namespace',
 'except_',
 'except_all',
 'execution_options',
 'exists',
 'exported_columns',
 'fetch',
 'filter',
 'filter_by',
 'from_statement',
 'froms',
 'get_children',
 'get_execution_options',
 'get_final_froms',
 'get_label_style',
 'group_by',
 'having',
 'inherit_cache',
 'inner_columns',
 'intersect',
 'intersect_all',
 'is_clause_element',
 'is_delete',
 'is_derived_from',
 'is_dml',
 'is_from_statement',
 'is_insert',
 'is_select',
 'is_selectable',
 'is_text',
 'is_update',
 'join',
 'join_from',
 'label',
 'lateral',
 'limit',
 'memoized_attribute',
 'memoized_instancemethod',
 'offset',
 'options',
 'order_by',
 'outerjoin',
 'outerjoin_from',
 'params',
 'prefix_with',
 'reduce_columns',
 'replace_selectable',
 'scalar_subquery',
 'select',
 'select_from',
 'selectable',
 'selected_columns',
 'self_group',
 'set_label_style',
 'slice',
 'stringify_dialect',
 'subquery',
 'suffix_with',
 'supports_execution',
 'union',
 'union_all',
 'unique_params',
 'uses_inspection',
 'where',
 'whereclause',
 'with_for_update',
 'with_hint',
 'with_only_columns',
 'with_statement_hint']

In [ ]:
print(select().select_from(meta.tables['USER']).where(meta.tables['USER'].c['PK']==1).compile().params)

{'PK_1': 1}

In [ ]:
print(select(meta.tables['USER'].c['PK']))

SELECT "USER"."PK"
FROM "USER"

In [ ]:
result = con.execute(select(meta.tables['USER'].c['PK']))

2025-03-06 02:49:11,268 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-03-06 02:49:11,271 INFO sqlalchemy.engine.Engine SELECT "USER"."PK"
FROM "USER"

INFO:sqlalchemy.engine.Engine:SELECT "USER"."PK"
FROM "USER"

2025-03-06 02:49:11,273 INFO sqlalchemy.engine.Engine [generated in 0.00527s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00527s] ()

In [ ]:
user = meta.tables['USER']
info = meta.tables['INFO']

In [ ]:
print(user.insert().values(NAME='1번'))
print(user.insert().values(NAME='1번').compile().params)
print(insert(user).values(NAME='2번').compile().params)

INSERT INTO "USER" ("NAME") VALUES (:NAME)
{'NAME': '1번'}
{'NAME': '2번'}

In [ ]:
con.execute(user.insert().values(NAME='1번'))
con.execute(insert(user).values(NAME='2번'))

2025-03-06 02:52:19,928 INFO sqlalchemy.engine.Engine INSERT INTO "USER" ("NAME") VALUES (?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "USER" ("NAME") VALUES (?)

2025-03-06 02:52:19,931 INFO sqlalchemy.engine.Engine [generated in 0.00361s] ('1번',)

INFO:sqlalchemy.engine.Engine:[generated in 0.00361s] ('1번',)

2025-03-06 02:52:19,935 INFO sqlalchemy.engine.Engine INSERT INTO "USER" ("NAME") VALUES (?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "USER" ("NAME") VALUES (?)

2025-03-06 02:52:19,937 INFO sqlalchemy.engine.Engine [cached since 0.009654s ago] ('2번',)

INFO:sqlalchemy.engine.Engine:[cached since 0.009654s ago] ('2번',)

In [ ]:
con.commit()

2025-03-06 02:52:26,369 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
con.execute(user.select()).fetchall()

2025-03-06 02:52:46,551 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-03-06 02:52:46,556 INFO sqlalchemy.engine.Engine SELECT "USER"."PK", "USER"."NAME"
FROM "USER"

INFO:sqlalchemy.engine.Engine:SELECT "USER"."PK", "USER"."NAME"
FROM "USER"

2025-03-06 02:52:46,560 INFO sqlalchemy.engine.Engine [generated in 0.00922s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00922s] ()

[(1, '1번사람'), (2, '1번'), (3, '2번')]

In [ ]:
con.close()
meta.clear()

2025-03-06 02:53:02,550 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [ ]:
con = engine.connect()
meta.reflect(engine)

2025-03-06 02:53:27,841 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-03-06 02:53:27,848 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2025-03-06 02:53:27,850 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,853 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_temp_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_temp_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2025-03-06 02:53:27,858 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,860 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_xinfo("INFO")

2025-03-06 02:53:27,863 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,865 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_xinfo("USER")

2025-03-06 02:53:27,868 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,874 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2025-03-06 02:53:27,877 INFO sqlalchemy.engine.Engine [raw sql] ('INFO',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('INFO',)

2025-03-06 02:53:27,883 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2025-03-06 02:53:27,887 INFO sqlalchemy.engine.Engine [raw sql] ('USER',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('USER',)

2025-03-06 02:53:27,889 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA main.foreign_key_list("INFO")

2025-03-06 02:53:27,891 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,892 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.foreign_key_list("INFO")

2025-03-06 02:53:27,894 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,898 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2025-03-06 02:53:27,901 INFO sqlalchemy.engine.Engine [raw sql] ('INFO',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('INFO',)

2025-03-06 02:53:27,903 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.foreign_key_list("USER")

2025-03-06 02:53:27,905 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,906 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.foreign_key_list("USER")

2025-03-06 02:53:27,908 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,910 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2025-03-06 02:53:27,911 INFO sqlalchemy.engine.Engine [raw sql] ('USER',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('USER',)

2025-03-06 02:53:27,912 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("INFO")

2025-03-06 02:53:27,914 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,916 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("INFO")

2025-03-06 02:53:27,920 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,921 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("INFO")

2025-03-06 02:53:27,922 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,924 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("USER")

2025-03-06 02:53:27,925 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,927 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("USER")

2025-03-06 02:53:27,929 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,931 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("USER")

2025-03-06 02:53:27,932 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,934 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("INFO")

2025-03-06 02:53:27,935 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,936 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("INFO")

2025-03-06 02:53:27,937 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,939 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("INFO")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("INFO")

2025-03-06 02:53:27,941 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,943 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2025-03-06 02:53:27,944 INFO sqlalchemy.engine.Engine [raw sql] ('INFO',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('INFO',)

2025-03-06 02:53:27,945 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("USER")

2025-03-06 02:53:27,946 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,948 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("USER")

2025-03-06 02:53:27,949 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,951 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("USER")

2025-03-06 02:53:27,953 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-03-06 02:53:27,955 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2025-03-06 02:53:27,956 INFO sqlalchemy.engine.Engine [raw sql] ('USER',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('USER',)

2025-03-06 02:53:27,959 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [ ]:
print(meta.tables['USER'].select())

SELECT "USER"."PK", "USER"."NAME"
FROM "USER"

In [ ]:
con.execute(meta.tables['USER'].select()).fetchall()

2025-03-06 02:54:22,207 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-03-06 02:54:22,209 INFO sqlalchemy.engine.Engine SELECT "USER"."PK", "USER"."NAME"
FROM "USER"

INFO:sqlalchemy.engine.Engine:SELECT "USER"."PK", "USER"."NAME"
FROM "USER"

2025-03-06 02:54:22,211 INFO sqlalchemy.engine.Engine [generated in 0.00408s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00408s] ()

[(1, '1번사람'), (2, '1번'), (3, '2번')]

### join 실습

In [ ]:
info = meta.tables['INFO']

In [ ]:
info.c.keys()

['PK', 'NAME']

In [ ]:
info.insert().values(NAME='1번 정보')

In [ ]:
meta.clear()
con.close()

어제 작업한 coffee.db를 이용해 실습을 진행해보자.

In [ ]:
engine = create_engine('sqlite:///coffee.db', echo=True)
con.engine.connect()

In [ ]:
meta = MetaData()

In [ ]:
meta.tables.keys()

dict_keys([])

In [ ]:
city = meta.tables['CITY']
part = meta.tables['PART']
sells = meta.tables['SELLS']
supplier = meta.tables['SUPPLIER']

KeyError: 'CITY'

In [ ]:
con.execute(city.select()).fetchall()

In [ ]:
# cross join
print(select(city.c['NAME'], supplier.c['NAME']).select_from(city, supplier))

In [ ]:
print(select(city.c['NAME'], supplier.c['NAME'])\
      .select_from(city.join(supplier, supplier.c['CNO']==city.c['CNO']))).fetchall()

In [ ]:
q = select(city.c['NAME'], supplier.c['NAME'], part.c['NAME'], sells.c['PRICE']).select_from(
    city.join(supplier, supplier.c['CNO']==city.c['CNO'])\
        .join(sells, sells.c['SNO']==supplier.c['SNO'])\
        .join(part, part.c['PNO']==sells.c['PNO'])
)

print(q)

In [ ]:
con.execute(q).fetchall()

In [ ]:
con.close()
meta.clear()
engine = create_engine('sqlite://', echo=True)
con = engine.connect()

In [ ]:
Table('ARTIST', meta,
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text))

Table('ALBUM', meta,
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text),
      extend_existing=True) # 기존 것을 지우지 않고 수정이 가능하다.

Table('ALBUM', MetaData(), Column('PK', Integer(), table=<ALBUM>, primary_key=True, nullable=False), Column('NAME', Text(), table=<ALBUM>), schema=None)

In [ ]:
meta.tables.keys() # 2개의 table 객체 메모리에 등록 -> 아직 DB에는 반영X

dict_keys(['ARTIST', 'ALBUM'])

In [ ]:
# 기존 Meta에 등록된 Table객체를 덮어쓸때, extend_existing=True
Table('ALBUM', meta,
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text),
      Column('FK', Integer, ForeignKey(meta.tables['ARTIST'].c['PK']), nullable=False),
                                        # SQL: 'ARTIST.PK'
      extend_existing=True)

NameError: name 'ForeignKey' is not defined

In [ ]:
meta.tables['ALBUM'].c['FK']

In [ ]:
meta.create_all(engine)

In [ ]:
artist = meta.tables['ARTIST']
album = meta.tables['ALBUM']

In [ ]:
con.execute(artist.insert().values(NAME='가수1'))
con.execute(album.insert().values(NAME='앨범1', FK=1))
con.commit()

In [ ]:
select(artist.c['NAME'], album.c['NAME']).select_from(artist.join(album, artist.c['PK']==album.c['FK']))
print()

In [ ]:
select(artist.c['NAME'], album.c['NAME']).select_from(artist.join(album))
print()
# On절 잘 보면, 자동으로 채워지는 것을 확인할 수 있다. ForeignKey이기 때문에.